#!/bin/bash

INSTANCE=$1
#INSTANCE=stagejcrewtracker2.atlassian.net
#INSTANCE=jcrewtracker.jira.com
USERNAME="{{ JIRA_BACKUPS_USER }}"
PASSWORD="{{ JIRA_BACKUPS_PASS }}"
LOCATION="{{ backup_dir }}"
LOCATION="/backup/jira"
LOG="${LOCATION}/out.$(date +%Y%m%dT%H%M%S).log"
MAILING_LIST="{{ backup_mailing_list }}"
TODAY=`date +%Y%m%d`
COOKIE="${LOCATION}/jiracookie"

if [ -z $INSTANCE ]; then
    echo "Usage: ${0} atlassian-server"
    exit 1
fi

function fail {
    echo $1 | mail -s"Jira Backup Failed" $MAILING_LIST
    rm $COOKIE
    exit 1
}

function log  {
    now=$(date +%Y%m%d:%H%M%S)
    msg="${now} ${@}"
    echo $msg >> $LOG
}

# Grabs cookies and generates the backup on the UI. 
log "Getting Cookie"
curl -s --silent -u $USERNAME:$PASSWORD --cookie-jar $COOKIE https://${INSTANCE}/Dashboard.jspa --output /dev/null
if [ ! -f $COOKIE ]; then
  fail "Could not get Cookie"
else
  log "I see cookie $COOKIE"
fi

log "Starting JIRA Re-indexing"
IDXRUN=$(curl -s -w "\n\tHTTP_CODE: \n%{http_code}\n" --cookie $COOKIE --header "X-Atlassian-Token: no-check" -H "X-Requested-With: XMLHttpRequest" -H "Content-Type: application/json"  -X POST https://${INSTANCE}/rest/api/2/reindex)
log $IDXRUN
if [[ $( echo $IDXRUN | grep -i 'unauthorized') ]]; then
  fail "Login failed"
fi
if [[ $( echo $IDXRUN | grep 'CODE: 4') ]]; then
  fail "Indexing failed"
fi
while [ 1 ]; do
    IDXCHK=$(curl -s -w "%{http_code}\n" --cookie $COOKIE --header "X-Atlassian-Token: no-check" -H "X-Requested-With: XMLHttpRequest" -H "Content-Type: application/json"  -X GET https://${INSTANCE}/rest/api/2/reindex)
    log $(echo $IDXCHK | grep '"currentProgress":100.*"success":true')
    if [ $? -eq 0 ]; then
        break
    fi
    progress=$(echo $IDXCHK | sed 's/"//g'  | perl -ple 's/^.*(currentProgress:\d+),.*$/$1/' | cut -d: -f2 )
    sleep_time=$((100 - $progress + 5))
    log "${progress}% Completed.  Waiting ${sleep_time}. . ."
    sleep $sleep_time
done
log "Starting JIRA Backup . . ."
BKPMSG=`curl -s --cookie $COOKIE --header "X-Atlassian-Token: no-check" -H "X-Requested-With: XMLHttpRequest" -H "Content-Type: application/json"  -X POST https://${INSTANCE}/rest/obm/1.0/runbackup -d '{"cbAttachments":"false" }' `
log $BKPMSG
 
#Checks if the backup procedure has failed
if [ `echo $BKPMSG | grep -i backup | wc -l` -ne 0 ]; then
    #The $BKPMSG variable will print the error message, you can use it if you're planning on sending an email
    echo $BKPMSG
    exit
fi
 
#Checks if the backup exists in WebDAV every 30 seconds.  This shouldn't take more than 5 mins . . .
for check in {1..10}; do
    log "Checking for backup"
    wget --user=$USERNAME --password=$PASSWORD --spider https://${INSTANCE}/webdav/backupmanager/JIRA-backup-${TODAY}.zip >/dev/null
    OK=$?
    if [ $OK -eq 0 ]; then
        break
    fi
    sleep 60
done

if [ $check -eq 10 ]; then
    fail "problem Checking for backup - it took took long"
    exit 1
fi
 
#If it's confirmed that the backup exists on WebDAV the file get's copied to the $LOCATION directory.
log "Getting backup"
wget --user=$USERNAME --password=$PASSWORD -t 0 --retry-connrefused https://${INSTANCE}/webdav/backupmanager/JIRA-backup-${TODAY}.zip -O $LOCATION/JIRA-Backup-${INSTANCE}-${TODAY}-$(date +%H%M%S).zip >/dev/null
log "Done!"


{% if confluence_envs is defined and confluence_envs|intersect( group_names) %}

###################
# Confluence
###################

log "Starting Confluence Backup . . ."
BKPMSG=$(curl -s -u $USERNAME:$PASSWORD --header "X-Atlassian-Token: no-check" -H "X-Requested-With: XMLHttpRequest" -H "Content-Type: application/json"  -X POST https://${INSTANCE}/wiki/rest/obm/1.0/runbackup -d '{"cbAttachments":"false" }' 2>&1 )
log $BKPMSG
rm $COOKIE
 
#Checks if the backup procedure has failed
if [ `echo $BKPMSG | grep -i backup | wc -l` -ne 0 ]; then
    #The $BKPMSG variable will print the error message, you can use it if you're planning on sending an email
    fail "${BKPMSG}"
    exit
fi
 
for check in {1..100}; do
    log "Checking for backup"
    resp=$(curl --silent -H 'Accept: application/json' -u$USERNAME:$PASSWORD https://${INSTANCE}/wiki/rest/obm/1.0/getprogress)
    if [[ $resp =~ 'failedMessage' ]]; then
        message=$(echo $resp | jq -r '.failedMessage' )
        fail "problem with Confluence backup - ${message}"
        exit 1
    elif [[ $resp =~ 'Estimated progress: 100' ]]; then
        zip_file=$(echo $resp | jq -r '.fileName' )
        break
    fi
    sleep 10
done

if [ $check -eq 100 ]; then
    fail "problem Checking for backup - it took took long"
    exit 1
fi

for check in {1..10}; do
    log "Checking for confluence backup"
    wget --user=$USERNAME --password=$PASSWORD --spider https://${INSTANCE}/wiki/download/$zip_file >/dev/null
    OK=$?
    if [ $OK -eq 0 ]; then
        break
    fi
    sleep 60
done

#If it's confirmed that the backup exists on WebDAV the file get's copied to the $LOCATION directory.
log "Getting backup"
wget --user=$USERNAME --password=$PASSWORD -t 0 --retry-connrefused https://${INSTANCE}/webdav/backupmanager/Confluence-backup-${TODAY}.zip -O $LOCATION/Confluence-Backup-${INSTANCE}-${TODAY}-$(date +%H%M%S).zip >/dev/null
log "Done!"

{% else %}
rm $COOKIE
{% endif %}
