#!/usr/bin/env python3

import requests
from bs4 import BeautifulSoup
import sys

JURL = "https://{{ jira_instance }}"
JUSER = "{{ jira_user }}"
JPASSWORD = "{{ jira_password }}"
MailServersUrl = JURL + "/secure/admin/IncomingMailServers.jspa"
DeleteMailServersUrl = JURL + "/secure/admin/DeleteMailHandler.jspa"

r = requests.get(MailServersUrl, verify={{ ssl_verify }}, auth = (JUSER, JPASSWORD) )
soup = BeautifulSoup(r.text, 'html.parser')
mhps = soup.select('.handler-name')
mail_handler_id = None
for mhp in mhps:
    if 'Cloud Email Handler' in mhp.text:
        mail_handler_id = mhp.attrs['id'].split('-')[2]

if not mail_handler_id:
    sys.exit(0)

headers = {'X-Atlassian-Token':'no-check',
            'X-Requested-With':'XMLHttpRequest',
            'Content-Type':'application/x-www-form-urlencoded'
            }

data = {    'confirmed': 'true',
            'id': mail_handler_id
}
# data = "id=%s&confirmed=true" % mail_handler_id
#print("Removing Mail Handler %s" % mail_handler_id)

r = requests.post(DeleteMailServersUrl, verify={{ ssl_verify }}, 
                    auth = (JUSER, JPASSWORD),
                    data = data,
                    headers = headers
                    )
soup = BeautifulSoup(r.text, 'html.parser')
mhps = soup.select('.handler-name')
if 'Access Denied' in r.text:
    print("Access denied")
elif len(mhps) == 0:
    sys.exit(0)
else:
    print(r.text)
    sys.exit(1)
